p{
    font-size: 20px;
    width: 1000px;
    height: 300px;
    text-align: justify;
    padding: 20px;
    margin-left: 3%;
    margin-top: -20px;
  }
body {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
}
#more1, #more2, #more3, #more4, #more5, #more6 {
    display: none;
}
button {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
    background-color: red;
    cursor: pointer;
}
video{
    width: 800px;
    height: 450px;
    margin-left: 5%;
}
nav{
    background-color: red;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
}
#d1, #d2, #d3, #d4, #d5, #d6{
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-flex;
}
